@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

:root{
    --color-body: #682760dd;
    --color-nav: #ae73a9;
    --color-link: #f8e8f4;
    --color-hover: #61196e;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-body);
    font-family: 'Exo 2', sans-serif;
}

/* General styles */

h1, h2, h3, h4, h5, h6{
    color: #ffbcbe;
    font-weight: 700;
}

a{
    text-decoration: none;
    transition: 0.5s;
}

p{
    color: #fff;
    font-size: 18px;
}

img{
    width: 100%;
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.btn{
    transition: 0.5s;
  }
  
  .btn:hover{
    box-shadow: rgba(188, 5, 205, 0.17) 0px -23px 25px 0px inset, rgba(188, 5, 205, 0.15) 0px -36px 30px 0px inset, rgba(188, 5, 205, 0.1) 0px -79px 40px 0px inset, rgba(188, 5, 205, 0.06) 0px 2px 1px;
  }


/* NavBar */

nav{
    background: linear-gradient(rgba(174, 115, 169,     0.4), rgba(45, 23, 56, 0.4)), url(../images/pexels-vlad-kovriga-339119.jpg);
    background-size: cover;
}

.navbar .container .nav-item .nav-link{
    font-weight: 700;
    color: var(--color-link);
    text-transform: uppercase;
    font-size: 20px;
    transition: 1s;
}

.navbar .container .nav-item .nav-link:hover{
    color: var(--color-hover);
}

/* Content wrapper */

/* Jumbotron */

.jumbotron{
    background: url(../images/martin-sanchez-4PDPLw1flgE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient (rgba(174, 115, 169, 0.4), rgba(45, 23, 56, 0.4));
}

div.jumbotron h1::after{
    content: "👋";
}

.lead{
    color: var(--color-link);
    font-weight: 600;
}

/* Skills */

#skills p{
    font-size: 25px;
}

.progress-bar{
    background-color: rgb(55, 6, 55);
}

/* Contacts */

form{
    box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
    background-color: var(--color-nav);
    border-radius: 7px;
}

/* Footer */

i{
    color: #fff;
    font-size: 24px;
    transition: 0.5s;
}

footer span{
    color: #9e8c9d;
}

footer div.row i:hover{
    color: var(--color-hover);
    filter: drop-shadow(1px 1px 6px #b499ba);
}

@media (min-width: 992px) {

    .navbar{
        min-height: 100vh;
        width: 250px;
    }
    
    .navbar-brand img{
        border: 5px solid var(--color-hover);
    }

    /* Content wrapper */

    #content-wrapper{
        margin-left: 250px;
    }
}